@model IEnumerable<WebApplication1.Models.Adopt>

@{
    ViewBag.Title = "Catalogue";
}

<h2>Catalogue</h2>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4-2 jumb">
            <div class="template-text">
                <h3><b> @Html.DisplayFor(modelItem => item.APetName)</b></h3>
            </div>
            <img src="~/Images/@Html.DisplayFor(modelItem =>item.ImagePath)" alt="" class="image-template"/>
            @*<button class="button-template">@Html.ActionLink("Adopt", "FormSubmit", "AdoptForm", new { petname = item.APetName }, null)</button>*@
            <button class="button-template">@Html.ActionLink("See more", "AnimalInfo", "Adopt", new { aid = @item.AdoptId }, null)</button>
        </div>
    }
    @*
    <div class="col-4-2 jumb">
        <div class="template-text">
            <h3><b>DOG NAME</b></h3>
        </div>
        <img src="~/perro2.jpg" class="image-template" />
        <button class="button-template">@Html.ActionLink("Adopt", "Adopt", "Home", new { area = "" })</button>
    </div>
    <div class="col-4-2 jumb">
        <div class="template-text">
            <h3><b>DOG NAME</b></h3>
        </div>
        <img src="~/perro3.jpg" class="image-template" />
        <button class="button-template">@Html.ActionLink("Adopt", "Adopt", "Home", new { area = "" })</button>
    </div>*@
</div>
