@model IEnumerable<WebApplication1.Models.Pets>

@{
    ViewBag.Title = "Lost Pets";
}

<h2>Temporary Index of Lost Pets</h2>

<p>
    @Html.ActionLink("Add New Lost Pet", "Create")
</p>
<table class="table">
    <tr>
        @*
        <th>
            @Html.DisplayNameFor(model => model.Breed.Name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetDescription)
        </th>
     
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Breed.Name)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.PetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PetAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PetDescription)
        </td>
   
        <td>
        
            @Html.ActionLink("Details", "Details", new { id = item.PetsId }) |
            @Html.ActionLink("Edit","Edit", new { id = item.PetsId})|
            @Html.ActionLink("Delete", "Delete", new { id = item.PetsId })
        </td>
    </tr>
}

</table>
